# Ignore node_modules in the frontend folder
Frontend/node_modules

# Ignore node_modules in the backend folder
Backend/node_modules

# Ignore .env files in the frontend folder
Frontend/.env

# Ignore .env files in the backend folder
Backend/.env
