/* Address.css */

/* Container for the address form */
.Address{
  max-width: 400px;
  margin: 0 auto;
  margin-bottom:15px ;
  padding: 20px;
  border-radius: 5px;
  color:#000 ;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid  rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0,0,0.37);
  }

 
  /* Headline style */
  h3 {
    color: #333;
    text-align: center;
  }
  
  /* Input fields */
  input[type='text'],
  select {
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 10px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Submit button */
  
  button[type='submit']:hover {
    background-color: #d78b19;
  }
  

  input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
select:hover,
input[type="date"]:hover,
input[type="radio"]:hover {
  border-color: #16d209;
}
.statezip {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.statezip input {
  margin-right: 10px; /* Adjust the spacing between inputs */
}
#presentAddress{
  border-radius: 34px;
}
#street-A{
  border-radius: 34px;
}
#street-A2{
  border-radius: 34px;
}
#city{
  border-radius: 34px;
}
#state{
  border-radius: 34px;
}

