.s-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  
  .s-btn button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #f18b25;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
  }
  
  .s-btn button:hover {
    background-color: #218c26;
  }
  